@import url('https://fonts.googleapis.com/css?family=Bellota&display=swap');


img {
    width: 500px;
    
}
body {
    background-color: salmon;
}
h1 {
    font-family: 'Bellota', cursive;
}
h2 {
    font-family: 'Bellota', cursive;
}
ol {
    font-size: 20px;
}
ul {
    font-size: 20px;
}